ul {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    text-align: center;
}
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #242424;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  color: #242424;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 52px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27;
}

p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
}

/* Header */

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container::before,
.container::after {
  content: " ";
  display: table;
}
.container::after {
  clear: both;
}
.one-half {
  width: 45%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

.logo {
  width: 80px;
  padding-left: 20px;
}

.menu-items {
  visibility: hidden;
}

.hamburger {
  width: 25px;
  float: right;
  padding-right: 15px;
}

.about {
  position: relative;
  clear: both;
}

.about h2 {
  padding: 40px 25px 0 25px;
  margin-bottom: 0;
}
