ul {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    padding: 0;
    text-align: center;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #242424;
  margin: 0;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  color: #242424;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 52px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

p {
  font-size: 19px;
  line-height: 36px;
  font-weight: 300;
}

/* links, hover */

.menu-items a:hover {
  color: #FF65F6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-menu-items a:hover {
  color: #FF65F6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@-moz-document url-prefix() {
  .menu-items {
      padding-top: 0!important;
      margin-top: 12px!important;
  }
}

.bio-links a:hover {
  color: #FF65F6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#jump-to-about {
  outline-style: none;
}

#jump-to-work {
  outline-style: none;
}

/* active/open mobile menu */

.mobile-menu {
  height: 0;
  width:100%;
  margin-top: -30px;
  position: fixed;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0px,-200px);
    -webkit-transform: translate(0px,-400px); /** Chrome & Safari **/
    -o-transform: translate(0px,-400px); /** Opera **/
    -moz-transform: translate(0px,-400px); /** Firefox **/
    z-index: 800;
}

.mobile-menu.open {
  width: 100%;
  height: 225px;
  margin-top: -30px;
  background-color: rgba(254,255,0,.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 800;
}

.mobile-menu.hide {
  visibility: hidden;
}

.mobile-menu-items {
  list-style: none outside none;
  float: right;
  text-align: right;
  padding: 85px 10% 0 0;
  line-height: 50px;
  }

.mobile-menu-items a {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    font-weight: 600;
    padding-left: 40px;
  }

/* HOMEPAGE */

/* Header */

.header {
  padding-top: 30px;
  z-index: 150;
  position: relative;
  clear: both;
}

.one-half {
  width: 45%;
  float: left;
  position: relative;
  height: 49px;
  margin: 0 2% 20px;
}

.one-half .spinner-master2 {
    z-index: 900;
}

.logo {
  width: 90px;
  padding-left: 20px;
}

.menu-items {
  visibility: hidden;
}

.about {
  position: relative;
  clear: both;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about h2 {
  padding: 40px 25px 50px 25px;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
}


/* hamburger spinner */

.spinner-master2 * {transition:all 0.3s;-webkit-transition:all 0.3s;box-sizing:border-box;}

.spinner-master2 {position:fixed;height:30px;width:30px;margin-left:26%;margin-top:-10px;opacity:.5;}

.spinner-master2 input[type=checkbox] {display:none;}
.spinner-master2 label {cursor:pointer;position:absolute;z-index:99;height:100%;width:100%;top:10px;left:0;}

.spinner-master2 .spinner2 {position:absolute;height:5px;width:100%;background-color:#818181;}

.spinner-master2 .diagonal.part-1 {position:relative;float:left;border-radius:8px;}
.spinner-master2 .horizontal {position:relative;float:left;margin-top:7px;border-radius:8px;}
.spinner-master2 .diagonal.part-2 {position:relative;float:left;margin-top:6px;border-radius:8px;}

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {opacity: 0;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:10px;}
.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {transform:rotate(-135deg);-webkit-transform:rotate(-135deg);margin-top:-17px;}

.spinner-spin2.close > .horizontal {opacity: 0;}
.spinner-spin2.close > .diagonal.part-1 {transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:10px;}
.spinner-spin2.close > .diagonal.part-2 {transform:rotate(-135deg);-webkit-transform:rotate(-135deg);margin-top:-16px;}

@media (min-width: 396px) {
  .spinner-master2 {
    margin-left: 32%;
  }
  .about h2 {
    padding-left: 8px;
  }
}
@media (min-width: 576px) {
  .spinner-master2 {
    margin-left: 35%;
  }
}


@media (min-width: 768px) {
  .header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
  }

  .one-half {
    margin: 0 8% 20px;
    width: 32%;
    transition: 0.5s ease;
  }

  .menu-items {
    visibility: visible;
    list-style: none outside none;
    float: right;
    margin-right: -20px;
    padding-top: 8px;
  }

  .menu-items li {
    display: inline;
  }

  .menu-items a {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 6px;
    margin-left: 40px;
    border-bottom: 3px solid #FEFF00;
  }

  .spinner-master2 {
    visibility: hidden;
    position: absolute;
    width: 0;
  }

}

@media (min-width: 2000px) {
  .header {
    width: 80%;
  }
}

/* Work */

.work {
  padding-top: 120px;
  padding-bottom: 30px;
}

.work h2 {
padding-left: 8%;
padding-right: 8%;
}

.project {
  width: 98%;
  height: auto;
  margin: 0 1% 20px;
  float: left;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.project-image {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.overlay:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.museum-overlay {
    background-color: rgba(0,166,255,1);
}

.habit-overlay {
    background-color: rgba(225,157,156,1);
}

.fonts-overlay {
    background-color: rgba(255,226,249,1);
}

.press-overlay {
    background-color: rgba(249,77,47,1);
}

.trove-overlay {
    background-color: rgba(26,148,111,1);
}

.overlay-title {
  color: rgba(255,255,255,1);
  font-size: 65px;
  font-family: "Nunito Sans", Helvetica, sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.museum-title {
  text-align: center;
  position: relative;
  clear: both;
}

#museum-title-top {
  margin-top: -40px;
}

#museum-description {
  top: 72%;
}

#font-title {
  padding-top: 40px;
  text-align: center;
}

.overlay-description {
  color: rgba(255,255,255,1);
  font-size: 16px;
  font-family: "Nunito Sans", Helvetica, sans-serif;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


#project-link-two-columns {
  display: none;
}

#museum-link:hover .overlay {
  visibility: visible;
  opacity: 1;
}

#museum-link:hover .overlay-title {
  visibility: visible;
  opacity: 1;
}


#habit-link:hover .overlay {
  visibility: visible;
  opacity: 1;
}


#habit-link:hover .overlay-title {
  visibility: visible;
  opacity: 1;
}

#fonts-link:hover .overlay {
  visibility: visible;
  opacity: 1;
}

#fonts-link:hover .overlay-title {
  visibility: visible;
  opacity: 1;
}

#press-link:hover .overlay {
  visibility: visible;
  opacity: 1;
}

#press-link:hover .overlay-title {
  visibility: visible;
  opacity: 1;
}

#trove-link:hover .overlay {
  visibility: visible;
  opacity: 1;
}

#trove-link:hover .overlay-title {
  visibility: visible;
  opacity: 1;
}


@media (min-width: 401px)  {
  .work {
    margin-left:15%;
    transition: 0.3s;
    margin-right: 15%;
  }
  .work h2 {
    padding-left: 0;
    padding-right: 0;
  }

  .overlay-title {
    font-size: 60px;
  }

  .overlay-description {
    font-size: 14px;
  }
}

@media (min-width: 768px)  {

  .work {
    margin-left: 22%;
    margin-right: 22%;
    transition: 0.3s;
  }
  .overlay-title {
    font-size: 65px;
  }

  .overlay-description {
    font-size: 16px;
  }
}


@media (min-width: 1100px)  {
  .about {
    width: 824px;
    margin-left: auto;
    margin-right: auto;
  }

  .work {
    margin: 0;
    padding-bottom: 100px;
  }

  .projects {
    margin-right: auto;
    margin-left: auto;
    display: table;
    width: 840px;
  }

  .project {
    width: 48%;
    height: 400px;
    transition: .5s ease;
    margin: 0 1% 15px;
  }

  .overlay {
    height: 100%;
    width: 100%;
  }

  #museum-link {
    display: none;
  }

  #project-link-two-columns {
    transition: .5s ease;
    width: 824px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    overflow: hidden;
  }

  #project-link-two-columns:hover .overlay-two-columns {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #project-link-two-columns:hover .overlay-title {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .overlay-two-columns {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: 824px;
    margin-top: 432px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

}


/* About / Bio */


.bio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  clear: both;
}

.bio-image img {
  width: 100%;
}

.bio {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.bio-links {
  float: left;
  margin-left: 40px;
  list-style: none outside none;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 3;
  margin-top: -60px;
  margin-bottom: -120px;
  z-index: 1000;
  position: relative;
  z-index: 1000;
}

.bio-links a {
  text-decoration: none;
  color: #242424;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 6px;
  border-bottom: 3px solid #FEFF00;
}


/* Design Journey Timeline  */


.design-journey-timeline-web {
  display: none;
}

.design-journey-timeline-mobile {
  display: block;
  padding: 10px 5% 0 5%;
  border-left: 3px solid #F6F6F6;
}

.design-journey {
  padding: 0;
  margin: 225px 5% 0 5%;
}

.design-journey-timeline-mobile h1 {
  padding-bottom: 20px;
}

.timeline-year-left h3 {
  color: #818181;
}

.timeline-year-right h3 {
  color: #818181;
}

.design-journey-timeline-mobile p {
  padding-bottom: 30px;
}


@media (min-width: 768px)  {
  .design-journey-timeline-mobile {
    display: none;
  }

  .design-journey {
    padding-top: 10px;
    margin: 0;
  }

  .design-journey-timeline-web {
    display: block;
    padding: 40px 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .design-journey-title {
    padding: 0 0 20px 0;
    width: 45%;
    margin-left: 50%;
    padding-left: 5%;
    border-left: 3px solid #F6F6F6;
  }

  .design-journey-title h1 {
    color: #818181;
    padding-top: 50px;
  }

  .design-journey-background h3 {
    line-height: 40px;
  }

  .timeline-dot {
    height: 12px;
    width: 12px;
    border-radius: 180px;
    background-color: #FEFF00;
    display: inline-block;
  }

  .dot-left {
    margin-left: -8.55px;
  }

  .dot-right {
    margin-left: 49.56%;
    margin-top: 16px;
  }

  .timeline-year-left {
    text-align: right;
    width: 45%;
    padding-right: 5%;
    display: inline-block;
  }

  .timeline-left {
    width: 45%;
    text-align: right;
    border-right: 3px solid #F6F6F6;
    padding: 4px 5% 2px 0;
    margin-bottom: 12px;
  }

  .timeline-year-right {
    color: #818181;
    width: 45%;
    margin-left: 50%;
    padding: 15px 0 10px 5%;
    margin-top: -59px;
  }

  .timeline-right {
    width: 45%;
    margin-top: -8px;
    margin-left: 50%;
    padding-left: 5%;
    border-left: 3px solid #F6F6F6;
    float: left;
  }
}





@media (min-width: 768px) {
  .about-page {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  .bio-section {
    padding-top: 120px;
  }

  .bio-image {
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
  }

  .bio {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .bio-links {
    margin-left: 0;
    padding-left: 7px;
  }

  .bio-links li:first-child {
    padding-left: 0;
    margin-left: -10px;
  }

  .bio-links li {
    display: inline;
    padding-left: 40px;
  }
}



/* Footer */

.footer {
  overflow: hidden;
  position: relative;
  clear: both;
}

.footer-background  {
  width: 100%;
  height: 400px;
  z-index: -1;
}

.footer-logo {
  z-index: 1;
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.footer-logo img {
  width: 100px;
}

@media (min-width: 768px) {
  .footer-logo {
    right: 8%;
  }
  .footer-logo img {
    width: 120px;
  }
}

@media (min-width: 2045px) {
  .footer-background img {
    width: 100%;
  }
}

/* Footer icons */

.icon-links {
  text-align: right;
  margin-right: 120px;
  z-index: 2;
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.icon-links li {
  display: inline;
  padding-right: 15px;
}

.icon-links a {
  font-family: FontAwesome;
  color: #FF65F6;
  text-decoration: none;
}

.fa-blockthis:before {
  content: "\f0e1";
}

@media (min-width: 768px) {
  .icon-links {
    margin-right: 18%;
    transition: 0.5s ease;
  }
  .icon-links li {
    padding-right: 30px;
  }
}

@media (min-width: 1100px) {
  .icon-links {
    margin-right: 16%;
    transition: 0.5s ease;
  }
}

@media (min-width: 1400px) {
  .icon-links {
    margin-right: 15%;
    transition: 0.5s ease;
  }
}

@media (min-width: 1800px) {
  .icon-links {
    margin-right: 12%;
    transition: 0.5s ease;
  }
}




/* CASE STUDIES */


/* Hero section and project summary */

.case-study {
  padding-top: 140px;
}

.case-study-image img {
  width: 100%;
}

.project-main-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.case-study-external-links a {
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  padding-bottom: 4px;
  border-bottom: 3px solid #FEFF00;
}

.case-study-external-links a:hover {
  color: #FF65F6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.project-hero-img img {
  width: 100%;
  padding: 10px 0 40px 0;
}

.project-hero-title {
  padding: 20px 0;
}

.project-hero .bio-links {
  margin-left: 0;
  padding: 15px 0;
}

.project-summary {
  padding: 20px 0 40px 0;
}

.project-summary-two-links {
  padding: 85px 0 40px 0;
}

#press-summary {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .project-main-content {
    max-width: 800px;
    width: 70%
  }

  .project-hero-title {
    padding: 40px 0;
  }

  .project-hero .bio-links {
    padding: 0 0 0 10px;
  }

  .project-summary {
    padding-top: 10px;
  }

  .project-summary-two-links {
    padding-top: 10px;
  }

  #press-summary {
    padding-top: 10px;
  }
}


/* Role, Deliverables, and Tools */

.roles-and-tools-mobile {
  display: block;
  }

.roles-and-tools-web {
  display: none;
  width: 140%;
  margin-left: -20%;
}

.role-and-tools {
  margin: 40px 0;
  background-color: #F6F6F6;
}

.role-and-tools h3 {
  text-align: left;
}

.role-and-tools-content {
  padding: 40px 0 55px 0;
}

.roles-and-tools-list-mobile {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.mobile-list {
  padding: 10px 0 20px 0;
}

.role-tools-list {
  text-decoration: none;
  list-style: none outside none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
}

@media (min-width: 1062px) {

  .roles-and-tools-mobile {
    display: none;
    }

  .roles-and-tools-web {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #one-third-roles {
    width: 25%;
    margin-right: 10px;
  }

  .one-third {
    width: 33%;
    vertical-align: top;
    display: inline-block;
    text-align: left;
  }
}


/* Problem Solution */

.problem-solution {
  padding: 40px 0;
}

.problem-solution h1 {
  margin: 40px 0 20px 0;
  display: inline;
}

.problem-statement {
  width: 90%;
  float: left;
  display: relative;
  clear: both;
}

.solution-statement {
  width: 90%;
  float: left;
  display: relative;
  clear: both;
  text-align: left;
}

#solution-talk-bubble {
  display: none;
}

#problem-talk-bubble {
  display: none;
}

#solution-paragraph {
  padding-bottom: 70px;
}

@media (min-width: 768px) {
  .problem-statement {
    width: 75%;
  }

  .solution-statement {
    width: 75%;
    float: right;
    text-align: right;
  }

  #solution-talk-bubble {
    height: 50px;
    display: inline;
    margin-right: 40px;
    margin-bottom: -10px;
  }

  #problem-talk-bubble {
    height: 50px;
    display: inline;
    margin-left: 40px;
    margin-bottom: -10px;
  }
}


/* Discovery */

.discovery-section-background {
  background-color: #F6F6F6;
  position: relative;
  clear: both;
}

.discovery-section {
  padding: 35px 0 30px 0;
}

.case-study-section-header h1 {
  margin-bottom: 20px;
}

#discovery-first-paragraph-mobile {
  padding-top: 10px;
}

.discovery-section .case-study-image img {
  padding: 60px 0 10px 0;
}


/* Visual Design */

.visual-design-section {
  padding: 35px 0 0 0;
}

#visual-first-paragraph-mobile {
  padding-top: 10px;
}

.visual-design-section .case-study-image img {
  padding: 20px 0 30px 0;
}

.prototype-mov {
  text-align: center;
  padding: 20px 0 40px 0;
}


/* Conclusion */

.conclusion-section {
  padding: 0 0 30px 0;
}

#conclusion-first-paragraph-mobile {
  padding-top: 10px;
}

.conclusion-section .bio-links {
  padding-top: 40px;
  margin-left: 0;
}

#final-trove-img {
  margin-bottom: -40px;
}

@media (min-width: 768px) {

  .conclusion-section .bio-links {
    padding-top: 40px;
  }
}



/* Feb font project */

.feb-font {
  margin-top: 86px;
}

.feb-font-img {
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .feb-font-img {
    padding-bottom: 40px;
    max-width: 1850px;
    margin-left: auto;
    margin-right: auto;
  }
}
